.ns-collapsed {
    flex: 0 1 3rem;
    display: flex;
    flex-direction: column;
    background-color: #036;
}

.ns-expanded {
    flex: 0 1 12rem;
    display: flex;
    flex-direction: column;
    background-color: #036;
}
