.ns-nav {
    flex: 0 1 auto;
    display: flex;
    flex-direction: column;
    background-color: #036;
    &.collapsed
    {
        flex: 0 1 3rem;
    }
}
.ns-hide {
    flex: 0 1 auto;
    display: none;
}
