<div class="@NavStackClass">
    <CascadingValue Name="ParentNavStack" Value="@this">
        @ChildContent
    </CascadingValue>
    <div class="@NavStackPadding"/>
</div>

@code {
    [Parameter]
    public RenderFragment? ChildContent { get; set; }

    [Parameter]
    public bool Collapsed { get; set; } = false;

    private string NavStackClass =>
        Collapsed ? "ns-collapsed" : "ns-expanded";

    private string NavStackPadding =>
        Collapsed ? "ns-pad-collapsed" : "ns-pad-expanded";
}
