@using Microsoft.AspNetCore.Components.Sections
@inherits LayoutComponentBase
<div class="nsl-container">
    <div class="nsl-title-bar">
        <div class=@collapsedButtonClass @onclick=ToggleCollapsed >
            <span class=@collapsedIconClass aria-hidden="true" />
            <span class="ps-3">Application Name</span>
        </div>
        <div class="nsl-title">
            <SectionOutlet SectionName="nsl-title-text" />
        </div>
    </div>
    <div class="nsl-navstack">
        <NavStack Collapsed="@collapsed">
            <NavButton Icon="bi-house-door-fill"
            Label="Home"
            Link="" />
            <NavButton Icon="bi-plus"
            Label="Counter"
            Link="counter" />
            <NavButton Icon="bi-cloud-fill"
            Label="Weather"
            Link="weather" />
        </NavStack>
        <div class="content">
            @Body
        </div>
    </div>
</div>

@code {
    private bool collapsed = false;

    private string collapsedButtonClass =>
        collapsed ? "nsl-collapse-button-checked" : "nsl-collapse-button";

    private string collapsedIconClass =>
        collapsed ? "bi bi-caret-right-fill" : "bi bi-caret-left-fill";

    private void ToggleCollapsed(MouseEventArgs args) 
        => collapsed = !collapsed;
}
