.nsl-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.nsl-title-bar {
    display: flex;
    flex-direction: row;
    height: 3rem;
}

.nsl-title {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex: 1 1 auto;
    color: black;
    font-size: larger;
    background-color:lightblue;
}

.nsl-collapse-button {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 1 auto;
    background-color: #666;
    color: white;
    padding: 1rem;
    width: 3rem;
    cursor: pointer;
    &:hover
    {
        background-color: #999;
    }
}

.nsl-collapse-button-checked {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex: 0 1 auto;
    background-color: black;
    color: white;
    padding: 1rem;
    width: 3rem;
    cursor: pointer;
    &:hover
    {
        background-color: #333;
    }
}

.nsl-navbody {
    display: flex;
    flex-direction: row;
    flex: 1 1 auto;
}

.content {
    flex: 1 1 auto;
    margin: 1rem;
}
